[submodule "third_party/luasdl2"]
        path = third_party/luasdl2
        url = https://github.com/onesmash/luasdl2.git
[submodule "third_party/luaprofiler"]
	path = third_party/luaprofiler
	url = https://onesmash@github.com/onesmash/luaprofiler.git
[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "third_party/http_parser"]
	path = third_party/http_parser
	url = https://github.com/nodejs/http-parser.git
[submodule "WukongBase"]
	path = WukongBase
	url = https://github.com/onesmash/WukongBase.git
